# Tests output
coverage.html
coverage.out
profile.out
./cover

# Environment related
.idea/
.vscode/
.claude/
.env
.DS_Store
__debug_bin*

# Cashed and runtime
bin/
main
server
trmnl.db
public/
fonts/
/icons/
/config.yaml